body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: 10vh auto;
  grid-template-areas: "nav" "main";
}

.nav {
  grid-area: nav;
  background: #1b5e20;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  box-shadow: 0px 17px 60px black;
  z-index: 80000;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav ul li {
  margin-right: 20px;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.7s, font-size 0.7s;
}

.nav ul li a:hover {
  color: #b38825;
  font-size: 20px;
}

.main {
  grid-area: main;
}
